{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
  .hero-wrap{
    background-size:contain;
    background-position: center;
  }
</style>
<section class="hero-wrap " {% if post.Image %} style="background-image: url('{{ post.Image.url }}');" {% else %} style="background-image: url('{% static 'images/bg_1.jpg' %}');" {% endif %} data-stellar-background-ratio="0.5">
<!--      <div class="overlay"></div>-->
      <div class="container text-dark">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-12 ftco-animate pb-5 mb-3 text-center">
            <h1 class="mb-3 bread text-dark">{{post.title|truncatechars:16}}</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'powerapp:index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Details <i class="ion-ios-arrow-forward"></i></span></p>
            <p>Posted {{ post.upload_date|naturaltime }}</p>
          </div>

           <div class="tag-widget  post-tag-container mb-5 mt-5">
              <div class="tagcloud ">
                
                <a href="#" class="tag-cloud-link bg-dark">Posted by {{ post.added_by.get_username|capfirst }}</a>
                
              </div>
            </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-dark ftco-animate">
            <h2 class="mb-3 text-dark">{{post.title|capfirst|safe}}</h2>
              {% if post.ImageAttachment %}
              <img src="{{post.Image.url}}" alt="" class="img-fluid">
            {% endif %}
            {{ post.short_description|safe }}
           
          </div> <!-- .col-md-8 -->


          <div class="col-lg-4 sidebar ftco-animate">
           <!--  <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div> -->
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading-sidebar text-dark">Categories</h3>
              <ul class="categories text-dark">
                <li  class="text-dark"><a href="{% url 'powerapp:victims' %}" class="text-danger">Victims<span>({{ victims.count }})</span></a></li>
                <li class="text-dark"><a href="{% url 'powerapp:perpetrators' %}" class="text-danger">Perpetrators<span>({{ perpetrators.count }})</span></a></li>
              </ul>
            </div>

            <div class="sidebar-box ftco-animate text-dark">
              <h3 class="heading-sidebar text-dark">Recent Perpetrator stories</h3>
              {% for perpetrator in perpetrators|slice:'3' %}
              <div class="block-21 mb-4 d-flex">
                {% if perpetrator.Image %}
                <a href="{% url 'powerapp:single' perpetrator.slug %}" class="blog-img mr-4" style="background-image: url('{{ perpetrator.Image.url}}');"></a>
                {% elif perpetrator.Video %}
                <a href="{% url 'powerapp:single' perpetrator.slug %}" class="blog-img mr-4" style="background-image: url('{{ perpetrator.Video.url}}');"></a>
                {% else %}
                <a href="{% url 'powerapp:single' perpetrator.slug %}" class="blog-img mr-4" style="background-image: url({% static 'images/image_1.jpg' %});">
                </a>
                {% endif %}
                <div class="text">
                  <h3 class="heading text-dark"><a href="{% url 'powerapp:single' perpetrator.slug %}" class="text-dark">{{perpetrator.short_description|truncatechars:50|safe}}</a></h3>
                  <div class="meta text-dark">
                    <div><a href="{% url 'powerapp:single' perpetrator.slug %}" class="text-dark"><span class="icon-calendar text-dark"></span> Posted {{ perpetrator.upload_date|naturaltime }}</a></div>
                    <div><a href="{% url 'powerapp:single' perpetrator.slug %}" class="text-dark"><span class="icon-person"></span> {{perpetrator.added_by.get_username|capfirst}}</a></div>
                  </div>
                </div>
              </div>
              {% empty %}
              <li class="text-dark">No perpetrators here yet</li>
              {% endfor %}
            </div>


            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar text-dark">Recent Victims stories</h3>
              {% for perpetrator in victims|slice:'3' %}
              <div class="block-21 mb-4 d-flex">
                {% if perpetrator.Image %}
                <a href="{% url 'powerapp:single' perpetrator.slug %}" class="blog-img mr-4" style="background-image: url('{{ perpetrator.Image.url}}');"></a>
                {% elif perpetrator.Video %}
                <a href="{% url 'powerapp:single' perpetrator.slug %}" class="blog-img mr-4" style="background-image: url('{{ perpetrator.Video.url}}');"></a>
                {% else %}
                <a href="{% url 'powerapp:single' perpetrator.slug %}" class="blog-img mr-4" style="background-image: url({% static 'images/image_1.jpg' %});">
                </a>
                {% endif %}
                <div class="text">
                  <h3 class="heading"><a href="{% url 'powerapp:single' perpetrator.slug %}" class="text-dark">{{perpetrator.short_description|truncatechars:50|safe}}</a></h3>
                  <div class="meta">
                    <div><a href="{% url 'powerapp:single' perpetrator.slug %}"><span class="icon-calendar text-dark"></span> Posted {{ perpetrator.upload_date|naturaltime }}</a></div>
                    <div><a href="{% url 'powerapp:single' perpetrator.slug %}"><span class="icon-person text-dark"></span> {{perpetrator.added_by.get_username|capfirst}}</a></div>
                  </div>
                </div>
              </div>
              {% empty %}
              <li class="text-dark">No perpettrators here yet</li>
              {% endfor %}
            </div>

            

<!--            <div class="sidebar-box ftco-animate">-->
<!--              <h3 class="heading-sidebar">Paragraph</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>-->
<!--            </div>-->
          </div>

        </div>
      </div>
    </section> <!-- .section -->



{% endblock content %}
